* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  background: rgb(225, 224, 237);
  background: linear-gradient(
    90deg,
    rgba(225, 224, 237, 1) 0%,
    rgba(20, 213, 185, 1) 30%,
    rgba(25, 208, 186, 1) 37%,
    rgba(69, 169, 195, 1) 64%,
    rgba(25, 196, 233, 1) 87%,
    rgba(0, 212, 255, 1) 93%
  );
}

/* Header */
#project-title {
  margin-top: 50px;
  font-size: 100px;
}

/* Input Content */
.main-content {
  margin-top: 50px;
}

.main-content label {
  font-size: 1.75em;
  font-weight: bold;
  margin: 10px 10px;
}

input[type="number"] {
  font-size: 1.45em;
  text-align: center;
  width: 60px;
}

/* Timer Content */
.time > p {
  font-size: 80px;
  display: inline-block;
  min-width: 100px;
  max-width: 100px;
}

.time > span {
  font-size: 80px;
  width: 20px;
}

/* Buttons */
.container {
  margin-top: 50px;
}

button {
  width: 100px;
  margin: 20px 20px;
}

button:hover {
  background-color: rgb(124, 124, 124);
}

/* animation */

@keyframes enlarge {
  0% {
    color: red;
  }

  25% {
    color: black;
    font-size: 90px;
  }

  50% {
    color: red;
    font-size: 110px;
  }

  75% {
    color: black;
    font-size: 90px;
  }

  100% {
    color: red;
    font-size: 80px;
  }
}

.animate {
  animation-name: enlarge;
  animation-iteration-count: infinite;
  animation-duration: 2s;
}
